body{
    background-color: #121212;
    color: white;
    font-family: "Poppins", sans-serif;;
}
h1{
    margin-top: 2rem;
    text-align: center;
    font-family: 'Merriweather', serif; 
    color: white;
}
.divs{
    background-color: black;
    margin-top: 1.5rem;
    padding: 2rem;
    box-shadow: 1px 1px 10px black;
}
h3{
    font-family: 'Playfair Display', serif;
    color: yellow;
}
p,li{
    line-height: 2rem;
}
b{
    color: gold;
}
.todo-div{
    width: 65%;
    margin: 0 auto;
}
